{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="main-content">
    <h3 class="rubric">О профессии</h3>
    <p>Применение Java обширно. Во-первых, Java-разработчики могут заниматься созданием desktop-приложений. Для примера: на Java написаны игра Minecraft (Java Edition), бесплатный аналог Microsoft Office — приложение OpenOffice (не полностью на Java, но в значительной мере) и большое количество продуктов «европейского аналога» 1С — компании SAP.

На Java можно создавать консольные приложения, которые запускаются и работают в командной строке, а также различные сервисы и утилиты. Долгие годы Java оставалась единственным языком программирования для создания мобильных приложений на базе Android. В 2017 году появился язык программирования Kotlin, который через какое-то время стал основным языком Android-разработки. Kotlin — это своего рода продолжение Java. Поэтому, владея навыками в прародителе, освоить его достаточно просто. Сегодня порядка 30% Android-приложений все еще разрабатываются на Java.

Еще одна быстрорастущая сфера применения языка Java — все, что связано с обработкой больших данных и сферой Data Science. Этот сегмент она разделяет с языком программирования Python. На Java реализуют решения инфраструктурного уровня. Например, на ней написана одна из самых распространенных систем хранения и обработки больших данных Hadoop.

Основное же назначение Java — это разработка серверной части веб-приложений — приложений, к которым мы получаем доступ через интернет. На Java написаны такие сервисы как «Яндекс.Музыка», «Яндекс.Маркет», «МойСклад», «Альфа.Клик», «Сбербанк.Онлайн» или социальная сеть «Одноклассники». На Java разрабатывают именно серверную часть веб-приложений — так называемый бэкенд.

По данным ресурса «Хабр.Карьера», большая часть российских вакансий на бэкенд приходится именно на Java, которая занимает в структуре спроса на бэкенд-разработчиков более 30%.

С момента запуска Java в ИТ-индустрии менялось многое: появлялись более «дружелюбные» по синтаксису или специализированные под конкретные задачи языки, вместе с новыми продуктами росли сферы применения программирования. Но одно оставалось неизменным: уже более 20 лет Java сохраняет лидерские позиции в топ-3 самых разных рейтингов.
    </p>
    <div class="images">
        <div><img src="static/img/computer.jpeg" width="300" height="200"></div>
        <div><img src="static/img/java.jpeg" width="300" height="200"></div>
        <div><img src="static/img/java_code.png" width="300" height="200"></div>
    </div>
</div>
{%  endblock %}