main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F5FFFA;
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.navigation {

}

.navigation a {
    padding: 10px
}

aside {
    width: 220px;
    border: 1px solid #C0C0C0;
    background-color: white;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.main-content {
    width: 1200px;
}

.rubric {
    text-align: center
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.silver {
    background-color: #F5FFFA;
}

